# Dependências
node_modules/

# Arquivos de Build/Compilação
dist/
build/

# Configurações de Ambiente
.env
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Cobertura de Testes.
coverage/

# Artefatos do Prisma.
/src/generated/prisma
generated/
*.db
*.db-journal

# Metadados de Sistema Operacional
.DS_Store
Thumbs.db

# Documentação Interna e Agentes.
docs/
.agents/
openspec/
skills-lock.json
